div(layout="column")
  div(style="padding:10px;background-color:#fae;", layout="row", layout-align="start center")
    div(flex, style="font-size:1.2em;font-weight:bold;") Channels
    div(flex="none")
      md-button.md-raised.md-primary(ng-click="clickAdd()")
        md-icon add
        |  Add Channel
  md-progress-linear(md-mode="indeterminate", ng-show="loading")
  md-content(flex)
    div(layout="column")
      div(ng-repeat="channel in channels")
        div {{channel.name}}
        div {{channel.description}}
        div Secret: {{channel.secret}}
