div(layout="column")
  div(style="padding:10px;background-color:#fae;", layout="row", layout-align="start center")
    div(flex, style="font-size:1.2em;font-weight:bold;") Channels
    div(flex="none")
      md-button.md-raised.md-primary(ng-click="clickAdd()")
        md-icon add
        |  Add Channel
  md-progress-linear(md-mode="indeterminate", ng-show="loading")
  md-content(flex)
    div(layout="column")
      div(ng-repeat="channel in channels | orderBy: 'name'", layout="row", layout-align="start center", style="padding:5px; margin:10px 5px; background-color:white;")
        div(flex)
          div(style="font-size:1.1em; font-weight:bold;")  &#35{{channel.name}}
          div(style="padding:8px;") {{channel.description}}
          div(style="padding:4px 0px; font-size:0.8em; font-weight:bold;") Secret: {{channel.secret}}
        div(flex="none")
          md-button.md-icon-button.md-raised(ng-click="clickEdit(channel)")
            md-icon edit
        div(flex="none")
          md-button.md-icon-button.md-raised(ng-click="clickDelete(channel)")
            md-icon delete
