extends layout

block content
  div(layout="row", layout-fill)
    include sidenav.pug
    div(layout="column", layout-fill, flex)
      include toolbar.pug
      md-content(flex, layout="column", ui-view="")
