doctype html
html(ng-app="Justicar.WebClient")
  head
    title= title
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel='stylesheet', href='/angular-material.min.css')
    link(rel='stylesheet', href='/app.css')
    script(src="/lib.js")
    script(src="/app.js")
  body(ng-controller="MainCtrl")
    block content
