md-sidenav.md-sidenav-left(md-component-id="sidenav", md-is-locked-open="$mdMedia('min-width:900px')", style="max-width:200px;")
  md-content(layout="column", layout-padding)
    h3 Player
    md-button
      md-icon people_outline
      |  Profile
    md-button
      md-icon person
      |  Characters
    h3 Storyteller
    md-button
      md-icon star
      |  Settings
    md-button
      md-icon star
      |  Users
    md-button
      md-icon star
      |  Channels
    md-button
      md-icon star
      |  Characters
