div(role="dialog", aria-label="channel", layout="column")
  md-toolbar
    div.md-toolbar-tools
      b Channel
  md-progress-linear(ng-show="waiting", md-mode="indeterminate")
  div.error(ng-show="errorMssg") {{errorMssg}}
  md-content(layout="column", style="padding:15px;")
    form(name="channelForm")
      md-input-container.md-icon-float.md-block
        label Channel Name
        md-icon forum
        input(ng-model="channel.name", ng-disabled="waiting")
      md-input-container.md-block
        label Description
        textarea(ng-model="channel.description", md-maxlength="", rows="3", md-select-on-focus, ng-disabled="waiting")
      md-checkbox(ng-model="channel.secret", aria-label="Secret Channel", ng-disabled="waiting")
        | Secret (Not visible on channel list)
  div(flex="none", layout="row")
    md-button.md-primary(type="submit", ng-click="onClickSave()", ng-disabled="waiting") Save
    md-button.md-warn(type="submit", ng-click="onClickCancel()", ng-disabled="waiting") Cancel
