div(role="dialog", aria-label="Login", layout="column")
  md-toolbar
    div.md-toolbar-tools
      h3 Register
  div(layout="column", style="padding:15px;")
    md-progress-linear(ng-show="waiting", md-mode="indeterminate")
    div.error(ng-show="errorMssg") {{errorMssg}}
    form(name="registerForm")
      md-input-container.md-block
        label Email
        input(required, type="email", name="userEmail", ng-model="userEmail")
        div(ng-messages="registerForm.userEmail.$error", role="alert")
          div(ng-message-exp="['required','pattern']") Valid email address is required
      md-input-container.md-block
        label Password
        input(required, type="password", name="userPassword", ng-model="userPassword")
        div(ng-messages="registerForm.userPassword.$error", role="alert")
          div(ng-message-exp="['required']") Password is required
      div
        md-button.md-primary(type="submit", ng-click="onClickRegister()") Register
